<!DOCTYPE html>
{% load static %}

<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SCL | About</title>
        <meta name="description" content="Seoul city library">
        <meta name="author" content="TeamSCL">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/Gothicfont.css' %}">
        <!-- font end -->

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index:index' %}"><img src="{% static 'assets/img/logo.gif' %}" alt="" style="width:110px"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        {% if user.is_authenticated %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:mypage' %}'" style="padding: 4% 10px;">회원정보</button>
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:logout' %}'" style="padding: 4% 10px;">로그아웃</button>
                        {% else %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:login' %}'">로그인</button>
                        {% endif %}
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'index:about' %}" class="active">About</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'libsearch:libsearch' %}">도서관 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'booksearch:booksearch' %}">도서 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'recommend:recommend' %}">추천 도서</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'board:board' %}">게시판</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title" style="font-weight:bold;">About</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="" id="contact1">
                            <div class="row">
                                <div class="col-sm-12" style="height:150px;">
                                    <h3 style=""><strong>About SCL</strong></h3><br>
                                    <p style="white-space: pre-line;"><strong>SCL</strong>은 도서 검색만을 위해 존재하던 기존 사이트들과 달리 도서관을 선택하는데 필요한 정보와 도서관이 보유한 도서에 대한 정보를 제공하고 있습니다.
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-6" style="height:230px;">
                                    <h3 style=""><strong>도서관 검색</strong></h3><br>
                                    <p style="white-space: pre-line;">내 주변에 위치한 도서관을 분류에 따라 검색할 수 있습니다.
                                        가고자 하는 <strong>도서관의 상세 정보와 도서관 사용자가 직접 남긴 평점</strong>을 제공하여 도서관 선택에 도움을 드립니다.
                                    </p>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-6" style="height:230px;">
                                    <h3 style=""><strong>도서 검색 & 추천 도서</strong></h3><br>
                                    <p style="white-space: pre-line;"><strong>서울특별시교육청 소속 도서관</strong>의 보유 도서 정보를 보여드립니다. 직접 도서관에 방문하지 않아도 보유 도서와 그 위치를 확인할 수 있습니다.
                                        또한 <strong>국립중앙도서관 사서</strong>가 직접 추천한 이달의 도서의 정보를 제공합니다.
                                    </p>
                                </div>
                            </div>
                            <!-- /.row -->
                            <hr>
                            <div id="map" style="position: relative; overflow: hidden;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <!-- Footer area-->
        <div class="footer-area">
        <div class=" footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight; text-align:center">
                            <div class="single-footer">
                                <h4 style="margin-right:15px;">About US</h4>
                                <div class="footer-title-line"></div>
                                <div style="display:table;margin-left:auto;margin-right:auto;">
                                    <ul class="footer-blog">
                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/Seungjun-bob/" target="_blank">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:40px;padding-right:41px;">강승준</p>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/DNCEDNCE" target="_blank">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:40px;padding-right:41px;">권진우</p>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/Minah-Seong" target="_blank">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:40px;padding-right:41px;">성민아</p>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/he63" target="_blank">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:40px;padding-right:40px;">조민석</p>
                                        </li>
                                    </ul>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div style="text-align:center">
                            <span> (C) <a href="https://seungjunbob.notion.site/SCL-project-35cb8b3c827846b895c2bba9ca8b384e" target="_blank">TeamSCL</a> , All rights reserved 2022  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>

        <script src="{% static 'assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'assets/js/price-range.js' %}"></script>

        <!--        gmaps        -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF06xVthOzaB1GixVm97tQ-0zSmxAK0_U&callback=initMap&region=kr"></script>
        <script src="{% static 'assets/js/gmaps.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>