<!DOCTYPE html>
{% load static %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SCL | Home Page</title>
        <meta name="description" content="Seoul city library">
        <meta name="author" content="TeamSCL">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/Gothicfont.css' %}">
        <!-- font end -->

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index:index' %}"><img src="{% static 'assets/img/logo.gif' %}" alt="" style="width:110px"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        {% if user.is_authenticated %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'board:myreview' %}'">작성글</button>
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:logout' %}'">로그아웃</button>
                        {% else %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:login' %}'">로그인</button>
                        {% endif %}
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'index:about' %}" class="">About</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'libsearch:libsearch' %}">도서관 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'booksearch:booksearch' %}">도서 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'recommend:recommend' %}">추천 도서</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'board:board' %}">게시판</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->

        <!--Welcome area -->
        <div style="width:100% height:100%" class="Welcome-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 Welcome-entry  col-sm-12">
                        <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                            <div class="welcome_text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-1 col-sm-12 page-title">
                                        <h1>SEOUL<br>CITY<br>LIBRARY</h1>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div  class="welcome_services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
                                <div class="row">
                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon" onClick="location.href='{% url 'libsearch:libsearch' %}'">
                                                <i class="pe-7s-culture pe-4x"></i>
                                            </div>
                                            <h4>도서관 검색</h4>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon" onClick="location.href='{% url 'booksearch:booksearch' %}'">
                                                <i class="pe-7s-notebook pe-4x"></i>
                                            </div>
                                            <h4>도서 검색</h4>
                                        </div>
                                    </div>


                                    <div class="col-xs-12 text-center">
                                        <i class="welcome-circle"></i>
                                    </div>

                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon" onClick="location.href='{% url 'recommend:recommend' %}'">
                                                <i class="pe-7s-like2 pe-4x"></i>
                                            </div>
                                            <h4>추천 도서</h4>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon" onClick="location.href='{% url 'board:board' %}'">
                                                <i class="pe-7s-note pe-4x"></i>
                                            </div>
                                            <h4>리뷰 게시판</h4>
                                        </div>
                                    </div>
                                </div>
                        </div>


                    <div class="col-md-12 large-search2" >
                        <div class="search-form wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
                            <form action="{% url 'libsearch:libsearch' %}" class=" form-inline" method="get">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="도서관명" name="search">
                                    </div>
                                    <div class="col-md-4">
                                        <select id="lunchBegins" class="selectpicker dropup show-tick form-control" data-dropup-auto="false" title="구분" name="lbrry_se_name">
                                            <option>전체</option>
                                            <option>공공도서관</option>
                                            <option>국립도서관</option>
                                            <option>대표도서관</option>
                                            <option>작은도서관</option>
                                            <option>장애인도서관</option>
                                            <option>전문도서관</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="basic" class="selectpicker dropup show-tick form-control" data-dropup-auto="false" data-size="15" title="자치구" style="overflow: scroll;" name="code_value">
                                            <option>전체</option>
                                            <option>강남구</option>
                                            <option>강동구</option>
                                            <option>강북구</option>
                                            <option>강서구</option>
                                            <option>관악구</option>
                                            <option>광진구</option>
                                            <option>구로구</option>
                                            <option>금천구</option>
                                            <option>노원구</option>
                                            <option>도봉구</option>
                                            <option>동대문구</option>
                                            <option>동작구</option>
                                            <option>마포구</option>
                                            <option>서대문구</option>
                                            <option>서초구</option>
                                            <option>성동구</option>
                                            <option>성북구</option>
                                            <option>송파구</option>
                                            <option>양천구</option>
                                            <option>영등포구</option>
                                            <option>용산구</option>
                                            <option>은평구</option>
                                            <option>종로구</option>
                                            <option>중구</option>
                                            <option>중랑구</option>

                                        </select>
                                    </div>
                                        <div class="row">
                                            <div id=search_button class="col-xs-12">
                                                <input type="submit" class="button btn largesearch-btn" value="검 색">
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <!-- Footer area-->
        <div class="footer-area">
        <div class=" footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-sm-6 wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight; text-align:center">
                            <div class="single-footer">
                                <h4 style="margin-right:15px;">About US</h4>
                                <div class="footer-title-line"></div>
                                <div style="display:table;margin-left:auto;margin-right:auto;">
                                    <ul class="footer-blog">
                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/Seungjun-bob/">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:50px;padding-right:15px;">강승준</p>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/DNCEDNCE">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:50px;padding-right:15px;">권진우</p>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/Minah-Seong">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:50px;padding-right:15px;">성민아</p>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/he63">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:50px;padding-right:15px;">조민석</p>
                                        </li>
                                    </ul>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div style="text-align:center">
                            <span> (C) <a href="https://seungjunbob.notion.site/SCL-project-35cb8b3c827846b895c2bba9ca8b384e">TeamSCL</a> , All rights reserved 2022  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

        <script src="{% static 'assets/js/wow.js' %}"></script>

        <script src="{% static 'assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'assets/js/price-range.js' %}"></script>

        <script src="{% static 'assets/js/main.js' %}"></script>

        <script>
        function search(content){
                content.action = "{% url 'libsearch:libsearch' %}";
                content.method = "get";
                content.submit();
            }
        </script>
    </body>
</html>