{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cathedral | Bootstrap church template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&amp;display=swap' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:500i&amp;display=swap">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
  </head>
  <body class="scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0">
  <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>info@keenthemes.com</span></li>
                    </ul>
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="page-login.html">Log In</a></li>
                        <li><a href="page-reg-page.html">Registration</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>
    </div>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-dark position-absolute w-100" id="navbar">
        <div class="container"><a class="navbar-brand d-block d-lg-none" href="#!"><img src="{% static 'img/logo-alt.svg' %}" alt="..." width="60"></a>
          <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="#hero">홈</a></li>
              <li class="nav-item"><a class="nav-link" href="#services">소개</a></li>
              <li class="nav-item"><a class="nav-link" href="#works">도서관 검색</a></li>
            </ul>
            <ul class="navbar-nav d-none d-lg-block px-4">
              <li class="nav-item m-0"><a class="navbar-brand m-0" href="#!"><img src="{% static 'img/logo.svg' %}" alt="..." width="80"></a></li>
            </ul>
            <ul class="navbar-nav me-auto">
              <li class="nav-item"><a class="nav-link" href="#sermons">도서 검색 </a></li>
              <li class="nav-item"><a class="nav-link" href="text.html">추천 도서</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">리뷰 게시판</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Hero Slider -->
    <section class="text-center pt-lg-0 hero-home" id="hero">
      <div class="swiper hero-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero-slide bg-cover py-5 with-border-image d-flex align-items-center" style="background: url({% static 'img/hero-bg-2.jpg' %})">
            <div class="container text-white py-5 my-5 index-forward">
              <h1 class="text-uppercase text-xl mt-5">SCL</h1>
                </div>
              </div>
            </div>
          </div>
    </section>
    <!-- Features Section-->
    <section id="features">
      <div class="container-fluid p-0">
        <div class="row p-0 text-center align-items-stretch g-0">
          <div class="col-lg-3 col-md-6">
            <div class="p-5 text-white h-100 bg-primary">
              <h3 class="h4">도서관 검색</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="p-5 text-white h-100 bg-primary-shade">
              <h3 class="h4">도서 검색</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 order-lg-3">
            <div class="p-5 text-white h-100 bg-primary">
              <h3 class="h4">추천 도서</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 order-lg-4">
            <div class="p-5 text-white h-100 bg-primary-shade">
              <h3 class="h4">리뷰 게시판</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    </footer>
    <!-- JavaScript files-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'vendor/progressbar.js/progressbar.js' %}"></script>
    <script src="{% static 'js/front.js' %}"></script>
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot 
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>