<!DOCTYPE html>
{% load static %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SCL | Login</title>
        <meta name="description" content="Seoul city library">
        <meta name="author" content="TeamSCL">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/Gothicfont.css' %}">
        <!-- font end -->

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index:index' %}"><img src="{% static 'assets/img/logo.gif' %}" alt="" style="width:110px"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        <button class="navbar-btn nav-button login" onclick="location.href='{% url 'index:login' %}'">로그인</button>
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'index:about' %}" class="">About</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'libsearch:libsearch' %}">도서관 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'booksearch:booksearch' %}">도서 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'recommend:recommend' %}">도서 추천</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'board:board' %}">게시판</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">로그인</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->


        <!-- register-area -->
        <div class="register-area" style="background-color: rgb(249, 249, 249);">
            <div class="container">
                <div class="col-md-12">
                    <div class="box-for overflow">
                        <div class="col-md-12 col-xs-12 login-blocks">
                            <h2>로그인</h2>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label for="useremail">이메일</label>
                                                <input type="text" class="form-control" id="useremail" name="useremail">
                                            </div>
                                            <div class=form-group">
                                                <label for="password">비밀번호</label>
                                                <input type="password" class="form-control" id="password" name="password">
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="padding:25px 0px 0px 0px">
                                            <div style="align:center;">
                                                <button style="height:150px; width:120px; display:block; margin:auto; " type="submit" class="btn btn-default" value="login">로그인</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            <div align="center">
                                <p style="color:red">{{error}}</p>
                            </div>
                            <div style="text-align:center">
                            <a style="color:grey;"  href="{% url 'index:register' %}">아직 회원이 아니신가요?</a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <!-- Footer area-->
        <div class="footer-area">

            <div class=" footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 wow fadeInRight animated" style="text-align: center">
                            <div class="single-footer">
                                <h4 style="text-align: center">About us </h4>
                                <div class="footer-title-line"></div>
                                <span style="margin: 20px">권진우</span>
                                <span style="margin: 20px">강승준</span>
                                <span style="margin: 20px">성민아</span>
                                <span style="margin: 20px">조민석</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="https://seungjunbob.notion.site/SCL-project-35cb8b3c827846b895c2bba9ca8b384e">TeamSCL</a> , All rights reserved 2022  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>

        <script src="{% static 'assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'assets/js/price-range.js' %}"></script>

        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>