<!DOCTYPE html>
{% load libsearch_extras %}
{% load static %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SCL | Library Search</title>
        <meta name="description" content="Seoul city library">
        <meta name="author" content="TeamSCL">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/Gothicfont.css' %}">
        <!-- font end -->

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index:index' %}"><img src="{% static 'assets/img/scl.png' %}" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        {% if user.is_authenticated %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'board:myreview' %}'">작성글</button>
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:logout' %}'">로그아웃</button>
                        {% else %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:login' %}'">로그인</button>
                        {% endif %}
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'index:about' %}" class="">About</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="active" href="{% url 'libsearch:libsearch' %}">도서관 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'booksearch:booksearch' %}">도서 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'recommend:recommend' %}">도서 추천</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'board:board' %}">게시판</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">도서관 검색</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="properties-area recent-property" style="background-color: #FFF;">
            <div class="container">
                <div class="row  pr0 padding-top-40 properties-page">
                    <div class="col-md-12 padding-bottom-40 large-search">
                        <div class="search-form wow pulse">
                            <form action="" class="form-inline">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="도서관명" name="search">
                                    </div>
                                    <div class="col-md-4">
                                        <select id="lunchBegins" class="selectpicker" title="도서관 구분" name="lbrry_se_name">
                                            <option>전체</option>
                                            <option>공공도서관</option>
                                            <option>국립도서관</option>
                                            <option>대표도서관</option>
                                            <option>작은도서관</option>
                                            <option>장애인도서관</option>
                                            <option>전문도서관</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="basic" class="selectpicker show-tick form-control" title="자치구" style="overflow: scroll;" name="code_value">
                                            <option>전체</option>
                                            <option>강남구</option>
                                            <option>강동구</option>
                                            <option>강북구</option>
                                            <option>강서구</option>
                                            <option>관악구</option>
                                            <option>광진구</option>
                                            <option>구로구</option>
                                            <option>금천구</option>
                                            <option>노원구</option>
                                            <option>도봉구</option>
                                            <option>동대문구</option>
                                            <option>동작구</option>
                                            <option>마포구</option>
                                            <option>서대문구</option>
                                            <option>서초구</option>
                                            <option>성동구</option>
                                            <option>성북구</option>
                                            <option>송파구</option>
                                            <option>양천구</option>
                                            <option>영등포구</option>
                                            <option>용산구</option>
                                            <option>은평구</option>
                                            <option>종로구</option>
                                            <option>중구</option>
                                            <option>중랑구</option>
                                        </select>
                                    </div>
                                        <div class="row">
                                            <div id=search_button class="col-xs-12">
                                                <input class="button btn largesearch-btn" value="검 색" type="submit">
                                            </div>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>

        <!-- 검색 영역 -->
        <div class="col-md-12">
            <p class="col-md-12">
                검색수: {{ num }}<br>
                필터: {{ request.GET.code_value }} {{ request.GET.lbrry_se_name }}
            </p>
        </div>

    <div class="=col-md-12">
        <div class="col-md-4" style="overflow-y:scroll; height:700px;">
            {% for list in total %}
                <div class="col-md-12">
                    <h4><a href="javascript:mypanTo({{ list.xcnts }},{{ list.ydnts }});">{{ list.lbrry_name | default_if_none:''}}</a></h4>
                    오픈시간 : {{ list.op_time | default_if_none:''}} <br>
                    휴관일 : {{ list.fdrm_close_date | default_if_none:''}} <br>
                    전화번호 : {{ list.tel_no | default_if_none:''}} <br>
                    홈페이지 : <a href="{{ list.hmpg_url }}" target="_blank">
                                {{ list.hmpg_url | default_if_none:''}}
                            </a><br>
                    주소 : {{ list.adres | default_if_none:''}} <br>
                    <div>
                        <a href="detail_l/{{ list.lbrry_seq_no }}" class="btn btn-default btn-border" style="padding: 7px 15px;">리뷰</a>
                    </div>
                    <hr>
                </div>
            {% endfor %}
            </div>
        <div class="col-md-8">
            <div id="libmap"></div>
        </div>
    </div>
                    <!--        페이징작업            -->
                    <div class="col-md-12 clear">
                        <div class="pull-right">
                            <div class="pagination">
                                <ul>
                                    {% if total.has_previous %}
                                    <li>
                                        <a class="page-link" href="{% my_url total.previous_page_number 'page' request.GET.urlencode %}">이전</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                    </li>
                                    {% endif %}
                                    <!-- 페이지 번호 -->
                                    {% for page_number in total.paginator.page_range %}
                                    {% if page_number >= total.number|add:-3 and page_number <= total.number|add:3 %}
                                        {% if page_number == total.number %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    <!-- 다음 페이지 -->
                                    {% if total.has_next %}
                                        <li>
                                            <a class="page-link" href="{% my_url total.next_page_number 'page' request.GET.urlencode %}">다음</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                                        </li>
                                    {% endif %}
                                <!-- 페이징처리 끝 -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




          <!-- Footer area-->
        <div class="footer-area">

            <div class=" footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 wow fadeInRight animated" style="text-align: center">
                            <div class="single-footer">
                                <h4 style="text-align: center">About us </h4>
                                <div class="footer-title-line"></div>
                                <span style="margin: 20px">권진우</span>
                                <span style="margin: 20px">강승준</span>
                                <span style="margin: 20px">성민아</span>
                                <span style="margin: 20px">조민석</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="https://seungjunbob.notion.site/SCL-project-35cb8b3c827846b895c2bba9ca8b384e">TeamSCL</a> , All rights reserved 2022  </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>
        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>
        <script src="{% static 'assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'assets/js/price-range.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

            <!--        gmaps        -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF06xVthOzaB1GixVm97tQ-0zSmxAK0_U&callback=initialize"></script>
<!--        <script src="{% static 'assets/js/gmaps-lib.js' %}"></script>-->
        <script>
            var map;
            var xcntss = {{ xcnts }};
            var ydntss = {{ ydnts }};
            {% autoescape off %}
            var hname = {{ hname }};
            var adres = {{ adres }};
            {% endautoescape %}

            function average(array) {
                var sum = 0.0;
                      for (var i = 0; i < array.length; i++)
                        sum += array[i];
                      return sum / array.length;
                    }

            var avgxc = average(xcntss);
            var avgyd = average(ydntss);
            var old;
            if(isNaN(avgxc)) {
                avgxc = 37.501256
                avgyd = 127.039581
            }


            function initialize() {
                var location = { lat: avgxc, lng: avgyd };
                var lennum = hname.length;

                map = new google.maps.Map(
                document.getElementById('libmap'), {
                  zoom: 13,
                  center: { lat: avgxc, lag: avgyd}
                });

                if(lennum<=5){
                    map = new google.maps.Map(
                    document.getElementById('libmap'), {
                      zoom: 16,
                      center: location
                    });
                }
                else if(lennum<=15){
                    map = new google.maps.Map(
                    document.getElementById('libmap'), {
                      zoom: 13,
                      center: location
                    });
                }
                else if(lennum<=100){
                    map = new google.maps.Map(
                    document.getElementById('libmap'), {
                      zoom: 13,
                      center: location
                    });
                }
                else if(100<lennum){
                    map = new google.maps.Map(
                    document.getElementById('libmap'), {
                      zoom: 11,
                      center: location
                    });
                }


                var marker = new Array(lennum);
                var infowindow = new Array(lennum);
                for(i=0; i<lennum; i++) {
                    var location = {lat: xcntss[i], lng: ydntss[i]}
                    var contentString = "<h4 style='color:#AC7D0C; font-weight:bold;'>" + hname[i] + "</h4>" +
                                        "<hr style='margin:0 0 5px 0;'>" +
                                        "<p style='padding:0 0 0 0; font-weight:bold;'>" + "주소" + "</p>" +
                                        "<p style='padding:0 0 0 0;'>" + adres[i] + "</p>"
                    var myinfowindow = new google.maps.InfoWindow({
			            content: contentString
			        });

                    var marker = new google.maps.Marker({
                                            position: location,
                                            map: map,
                                            infowindow: myinfowindow
                    });
                    marker.addListener('click', function() {      // 클릭 이벤트 발생 시 지도와 마커 출력
                       if(old)
                       old.close();
                       this.infowindow.open(map, this);
                       map.setCenter(this.getPosition());
                       map.setZoom(15);
                       old = this.infowindow;
                    });
                };
            };
            function mypanTo(x, y) {
                var latLng = new google.maps.LatLng(x, y);
                map.panTo(latLng);

                return false;

            }


        </script>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>