<!DOCTYPE html>
{% load static %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SCL | Library Search</title>
        <meta name="description" content="Seoul city library">
        <meta name="author" content="TeamSCL">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/Gothicfont.css' %}">
        <!-- font end -->

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        <div class="header-connect">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-8  col-xs-12">
                        <div class="header-half header-call">
                            <p>
                                <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                                <span><i class="pe-7s-mail"></i> your@company.com</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End top header -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'assets/img/scl.png' %}" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                        {% if user.is_authenticated %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'myreview' %}'">작성글</button>
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'logout' %}'">로그아웃</button>
                        {% else %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'login' %}'">로그인</button>
                        {% endif %}
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'about' %}" class="">About</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="active" href="{% url 'libsearch' %}">도서관 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'booksearch' %}">도서 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'recommend' %}">도서 추천</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'board' %}">게시판</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">도서관 검색</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="properties-area recent-property" style="background-color: #FFF;">
            <div class="container">
                <div class="row  pr0 padding-top-40 properties-page">
                    <div class="col-md-12 padding-bottom-40 large-search">
                        <div class="search-form wow pulse">
                            <form action="" class=" form-inline">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="도서관명">
                                    </div>
                                    <div class="col-md-4">
                                        <select id="lunchBegins" class="selectpicker" title="도서관 구분">
                                            <option>전체</option>
                                            <option>공공도서관</option>
                                            <option>국립도서관</option>
                                            <option>대표도서관</option>
                                            <option>작은도서관</option>
                                            <option>장애인도서관</option>
                                            <option>전문도서관</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="basic" class="selectpicker show-tick form-control" title="자치구" style="overflow: scroll;">
                                            <option>전체</option>
                                            <option>강남구</option>
                                            <option>강동구</option>
                                            <option>강북구</option>
                                            <option>강서구</option>
                                            <option>관악구</option>
                                            <option>광진구</option>
                                            <option>구로구</option>
                                            <option>금천구</option>
                                            <option>노원구</option>
                                            <option>도봉구</option>
                                            <option>동대문구</option>
                                            <option>동작구</option>
                                            <option>마포구</option>
                                            <option>서대문구</option>
                                            <option>서초구</option>
                                            <option>성동구</option>
                                            <option>성북구</option>
                                            <option>송파구</option>
                                            <option>양천구</option>
                                            <option>영등포구</option>
                                            <option>용산구</option>
                                            <option>은평구</option>
                                            <option>종로구</option>
                                            <option>중구</option>
                                            <option>중랑구</option>

                                        </select>

                                    </div>
                                        <div class="row">
 <!--                                                수정 확인용-->
                                            <div id=search_button class="col-xs-12">
                                                <input class="button btn largesearch-btn" value="검 색" type="submit">
                                            </div>
                                        </div>
                                </div>

                                        <!-- End of  -->
                            </form>
                        </div>
                    </div>

                    <div class="col-md-12  clear">
                        <div class="col-xs-10 page-subheader sorting pl0">

                            <div class="items-per-page">
                                <label for="items_per_page"><b>&nbsp 페이지당 검색 수 :</b></label>
                                <div class="sel">
                                    <select id="items_per_page" name="per_page">
                                        <option value="3">3</option>
                                        <option value="6">6</option>
                                        <option value="9">9</option>
                                        <option selected="selected" value="12">12</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                        <option value="60">60</option>
                                    </select>
                                </div><!--/ .sel-->
                            </div><!--/ .items-per-page-->
                        </div>

                        <div class="col-xs-2 layout-switcher">
                        </div><!--/ .layout-switcher-->
                    </div>

                    <div class="col-md-12 clear ">
                        <div id="list-type" class="proerty-th-list">
                            <div class="col-sm-6 col-md-3 p0">
                                <div class="box-two proerty-item">
                                    <div class="item-thumb">
                                        <a href="property-1.html" ><img src="{% static 'assets/img/demo/property-3.jpg' %}"></a>
                                    </div>

                                    <div class="item-entry overflow">
                                        <h5><a href="property-1.html"> Super nice villa </a></h5>
                                        <div class="dot-hr"></div>
                                        <span class="pull-left"><b> Area :</b> 120m </span>
                                        <span class="proerty-price pull-right"> $ 300,000</span>
                                        <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 clear">
                        <div class="pull-right">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <!-- Footer area-->
        <div class="footer-area">

            <div class=" footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 wow fadeInRight animated" style="text-align: center">
                            <div class="single-footer">
                                <h4 style="text-align: center">About us </h4>
                                <div class="footer-title-line"></div>
                                <span style="margin: 20px">권진우</span>
                                <span style="margin: 20px">강승준</span>
                                <span style="margin: 20px">성민아</span>
                                <span style="margin: 20px">조민석</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="https://seungjunbob.notion.site/SCL-project-35cb8b3c827846b895c2bba9ca8b384e">TeamSCL</a> , All rights reserved 2022  </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>


       <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>
        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>
        <script src="{% static 'assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'assets/js/price-range.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>