<!DOCTYPE html>
{% load static %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SCL | Review Board</title>
        <meta name="description" content="Seoul city library">
        <meta name="author" content="TeamSCL">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/Gothicfont.css' %}">
        <!-- font end -->

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index:index' %}"><img src="{% static 'assets/img/logo.gif' %}" alt="" style="width:110px"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                                               {% if user.is_authenticated %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'board:myreview' %}'">작성글</button>
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:logout' %}'">로그아웃</button>
                        {% else %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:login' %}'">로그인</button>
                        {% endif %}
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'index:about' %}" class="">About</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'libsearch:libsearch' %}">도서관 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'booksearch:booksearch' %}">도서 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'recommend:recommend' %}">추천 도서</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">

                            <a class="active" href="{% url 'board:board' %}">게시판</a>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- End of nav bar -->

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">자유게시판</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <form method="POST" action="{% url 'board:update' board.id  %}">
            {% csrf_token %}
                <div class="container">
                    <div class="row" >
                        <div class="col-md-12" style="margin-top: 30px;">
                            <div class="col-sm-12">
                                <h4><b>제목</b></h4>
                                <input type="hidden">
                                <input type="text" name="title" class="form-control" value="{{ board.title }}">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <h5>작성내용</h5>
                                    <textarea rows="15" type="text" name="content" class="form-control">{{ board.content }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="float:right; padding:0 10px; 10px; 0;">
                            <div class="col-sm-12" style="float:right; padding-bottom:15px;">
                                <button style="float:right;" class="btn btn-default btn-border" type="submit" value="글쓰기" >글쓰기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
       <!-- Footer area-->
        <div class="footer-area">
        <div class=" footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight; text-align:center">
                            <div class="single-footer">
                                <h4 style="margin-right:15px;">About US</h4>
                                <div class="footer-title-line"></div>
                                <div style="display:table;margin-left:auto;margin-right:auto;">
                                    <ul class="footer-blog">
                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/Seungjun-bob/">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:40px;padding-right:41px;">강승준</p>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/DNCEDNCE">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:40px;padding-right:41px;">권진우</p>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/Minah-Seong">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:40px;padding-right:41px;">성민아</p>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                                <a href="https://github.com/he63">
                                                    <img src="{% static 'assets/img/demo/github.png' %}">
                                                </a>
                                            </div>
                                            <p style="padding-top:40px;padding-right:40px;">조민석</p>
                                        </li>
                                    </ul>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div style="text-align:center">
                            <span> (C) <a href="https://seungjunbob.notion.site/SCL-project-35cb8b3c827846b895c2bba9ca8b384e">TeamSCL</a> , All rights reserved 2022  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>

        <script src="{% static 'assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'assets/js/price-range.js' %}"></script>

        <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
        function ConfirmDelete(){
            var x = confirm("정말 삭제 하시겠습니까?");
            if (x)
                return true;
            else
                return false;
        }
    </script>

    </body>
</html>