<!DOCTYPE html>
{% load recommend_extras %}
{% load static %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SCL | Recommend</title>
        <meta name="description" content="Seoul city library">
        <meta name="author" content="TeamSCL">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/Gothicfont.css' %}">
        <!-- font end -->

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>
    <body>
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index:index' %}"><img src="{% static 'assets/img/scl.png' %}" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    <div class="button navbar-right">
                         {% if user.is_authenticated %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'board:myreview' %}'">작성글</button>
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:logout' %}'">로그아웃</button>
                        {% else %}
                            <button class="navbar-btn nav-button bounceInRight login" onclick="location.href='{% url 'index:login' %}'">로그인</button>
                        {% endif %}
                    </div>
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'index:about' %}" class="">About</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'libsearch:libsearch' %}">도서관 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'booksearch:booksearch' %}">도서 검색</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a class="" href="{% url 'recommend:recommend' %}">도서 추천</a>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s">
                            <a href="{% url 'board:board' %}">게시판</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">도서 추천</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                    <div class="row">
                        <div class="col-md-12 padding-bottom-40 large-search">
                            <div class="search-form wow pulse">
                                <form action="" class=" form-inline">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="도서명" name="search">
                                        </div>
                                        <div class="col-md-3">
                                            <select id="lunchBegins" class="selectpicker" title="추천 연도" name="recomYear">
                                                <option>전체</option>
                                                <option>2022</option>
                                                <option>2021</option>
                                                <option>2020</option>
                                                <option>2019</option>
                                                <option>2018</option>
                                                <option>2016</option>
                                                <option>2015</option>
                                                <option>2014</option>
                                                <option>2013</option>
                                                <option>2012</option>
                                                <option>2011</option>
                                                <option>2010</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select id="basic" class="selectpicker show-tick form-control" title="추천 월" style="overflow: scroll;" name="recomMonth">
                                                <option>전체</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="selectpicker show-tick form-control" title="분류" style="overflow: scroll;" name="drCodeName">
                                                <option>전체</option>
                                                <option>문학예술</option>
                                                <option>인문학</option>
                                                <option>사회과학</option>
                                                <option>자연과학</option>
                                                <option>실용일반</option>
                                                <option>유아아동</option>
                                                <option>청소년</option>
                                            </select>
                                        </div>
                                            <div class="row">
     <!--                                                수정 확인용-->
                                                <div id=search_button class="col-xs-12">
                                                    <input class="button btn largesearch-btn" value="검 색" type="submit">
                                                </div>
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                            <s class="post">
                                <section class="post">
                                    <div class="col-md-12 clear ">
                                        <div class="row">
                                            <div class="col-md-12 left" style="">
                                                <p class="date-comments">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총 <i class="fa fa-comment-o">{{ num }}</i>건
                                                </p>
                                            </div>
                                        </div>
                                        {% for list in total %}
                                        <div id="list-type" class="proerty-th-list">
                                            <div class="col-sm-6 col-md-3 p0">
                                                <div class="box-two proerty-item">
                                                    <div class="item-thumb">
                                                        <a href="detail" ><img src="{{ list.recomfilepath | default_if_none:'' }}"></a>
                                                    </div>
                                                    <div class="item-entry overflow">
                                                        <h5><a href="detail"> {{ list.recomtitle | default_if_none:'' }} </a></h5>
                                                        <div class="dot-hr"></div>
                                                        <span class="pull-left"><b> 저/역자 :</b> {{ list.recomauthor | default_if_none:'' }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                        <span class="pull-left"><b> 출판사 :</b> {{list.recompublisher | default_if_none:''}}</span>
                                                        <p style="display: none;">{{ list.recomcontens | default_if_none:'' }}</p>
                                                        <a href="detail" class="btn btn-default btn-border" style="float : right;">상세</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </section>
                            </s>


                            <!--        페이징작업            -->
                        <div class="col-md-12 clear">
                            <div class="pull-right">
                                <div class="pagination">
                                    <ul>
                                    {% if total.has_previous %}
                                    <li>
                                        <a class="page-link" href="{% my_url total.previous_page_number 'page' request.GET.urlencode %}">이전</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                    </li>
                                    {% endif %}
                                    <!-- 페이지 번호 -->
                                    {% for page_number in total.paginator.page_range %}
                                    {% if page_number >= total.number|add:-3 and page_number <= total.number|add:3 %}
                                        {% if page_number == total.number %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    <!-- 다음 페이지 -->
                                    {% if total.has_next %}
                                        <li>
                                            <a class="page-link" href="{% my_url total.next_page_number 'page' request.GET.urlencode %}">다음</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                                        </li>
                                    {% endif %}
                                <!-- 페이징처리 끝 -->
                                </ul>
                                </div>
                            </div>
                        </div>
                        <!-- 페이징처리 끝 -->
                    </div>
                </div>

     <!-- Footer area-->
        <div class="footer-area">

            <div class=" footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 wow fadeInRight animated" style="text-align: center">
                            <div class="single-footer">
                                <h4 style="text-align: center">About us </h4>
                                <div class="footer-title-line"></div>
                                <span style="margin: 20px">권진우</span>
                                <span style="margin: 20px">강승준</span>
                                <span style="margin: 20px">성민아</span>
                                <span style="margin: 20px">조민석</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="https://seungjunbob.notion.site/SCL-project-35cb8b3c827846b895c2bba9ca8b384e">TeamSCL</a> , All rights reserved 2022  </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

        <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

        <script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/wow.js' %}"></script>

        <script src="{% static 'assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'assets/js/price-range.js' %}"></script>

        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>